@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Urbanist", serif;
  margin: 0;
  padding: 0;
  color: "#333333";
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Firefox */
.scroll-hidden {
  scrollbar-width: none;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
